<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit a pet</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Edit a pet</h2>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="needs-validation">

                    <div class="mb-3">
                        <label for="name">Name</label>
                        <div class="input-group">
                            <input type="text" class="{{name?.valid ? 'form-control is-valid': 'form-control'}}"
                                id="name" placeholder="Name" formControlName="name">
                            <div *ngIf="name?.invalid && (name?.touched || name?.dirty)"
                                class="invalid-feedback d-block">
                                <div *ngIf="name?.errors?.['required']">
                                    Name is missing.
                                </div>
                                <div *ngIf="name?.errors?.['maxlength']">
                                    Max length is 25.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="types">Type</label>
                        <select
                            class="{{type?.valid ? 'custom-select d-block w-100 is-valid': 'custom-select d-block w-100'}}"
                            id="types" formControlName="type">
                            <option value="">Choose...</option>
                            <option *ngFor="let type of types">{{type}}</option>
                        </select>
                        <div *ngIf="type?.invalid && (type?.touched || type?.dirty)" class="invalid-feedback d-block">
                            <div *ngIf="type?.errors?.['required']">
                                Type is missing.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="colors">Fur color</label>
                        <select
                            class="{{furColor?.valid ? 'custom-select d-block w-100 is-valid': 'custom-select d-block w-100'}}"
                            id="colors" formControlName="furColor">
                            <option value="">Choose...</option>
                            <option *ngFor="let furColor of furColors">{{furColor}}</option>
                        </select>
                        <div *ngIf="furColor?.invalid && (furColor?.touched || furColor?.dirty)"
                            class="invalid-feedback d-block">
                            <div *ngIf="furColor?.errors?.['required']">
                                Fur color is missing.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="countries">Country of origin</label>
                        <select
                            class="{{country?.valid ? 'custom-select d-block w-100 is-valid': 'custom-select d-block w-100'}}"
                            id="countries" formControlName="country">
                            <option value="">Choose...</option>
                            <option *ngFor="let country of countries">{{country}}</option>
                        </select>
                        <div *ngIf="country?.invalid && (country?.touched || country?.dirty)"
                            class="invalid-feedback d-block">
                            <div *ngIf="country?.errors?.['required']">
                                Country is missing.
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="petForm.invalid">
                        Edit Pet
                    </button>
                    <a [routerLink]="['/pets']">Click here to see the pets list.</a>
                    <div *ngIf=this.submitted>
                        <h4>Request is sent!</h4>
                    </div>

                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2022 Wisercat</p>
        </footer>
    </div>
</body>

</html>