<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pets list</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Pets</h2>
        </div>

        <div class="row">
            <a routerLink="/add" routerLinkActive="active" class="btn btn-primary">Add pet</a>
            <table class="table" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th mat-sort-header="name" scope="col">Name</th>
                        <th mat-sort-header="code" scope="col">Code</th>
                        <th mat-sort-header="type" scope="col">Type</th>
                        <th mat-sort-header="furColor" scope="col">Fur color</th>
                        <th mat-sort-header="country" scope="col">Country</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pet of sortedPets;let indexOfelement=index;">
                        <th scope="row">{{indexOfelement + 1}}</th>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.code }}</td>
                        <td>{{ pet.type }}</td>
                        <td>{{ pet.furColor }}</td>
                        <td>{{ pet.country }}</td>
                        <td>
                            <a [routerLink]="['/edit', pet.code]" routerLinkActive="active" class="btn btn-primary">Edit
                                pet</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022 Wisercat</p>
    </footer>
</body>

</html>