<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add a new pet</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Add a new pet</h2>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

                    <div class="mb-3">
                        <label for="name">Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="code">Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="code" placeholder="Code" formControlName="code">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="types">Type</label>
                        <select class="custom-select d-block w-100" id="types" formControlName="type">
                            <option value="">Choose...</option>
                            <option *ngFor="let type of types">{{type}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="colors">Fur color</label>
                        <select class="custom-select d-block w-100" id="colors" formControlName="furColor">
                            <option value="">Choose...</option>
                            <option *ngFor="let furColor of furColors">{{furColor}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="countries">Country of origin</label>
                        <select class="custom-select d-block w-100" id="countries" formControlName="country">
                            <option value="">Choose...</option>
                            <option *ngFor="let country of countries">{{country}}</option>
                        </select>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        Add Pet
                    </button>
                    <div *ngIf="submitted">
                        <h4>Pet was submitted successfully!</h4>
                    </div>

                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2022 Wisercat</p>
        </footer>
    </div>
</body>

</html>